<page title="Random">
  <section class="mosaic">
    <div class="mosaic__card">
      <img alt="number" class="mosaic__card__img" src="./assets/images/random/number.jpg">
      <a class="mosaic__card__title" routerLink="number">Number</a>
    </div>
    <div class="mosaic__card">
      <img alt="word" class="mosaic__card__img" src="./assets/images/random/word.jpg">
      <a class="mosaic__card__title" routerLink="word">Word</a>
    </div>
    <div class="mosaic__card">
      <img alt="quote" class="mosaic__card__img" src="./assets/images/random/quote.jpg">
      <a class="mosaic__card__title" routerLink="quote">Quote</a>
    </div>
    <div class="mosaic__card">
      <img alt="video" class="mosaic__card__img" src="./assets/images/random/video.jpg">
      <a class="mosaic__card__title" routerLink="video">Video</a>
    </div>
  </section>
</page>
