.header {
  z-index: 12;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 60px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);

  &__back {
    color: var(--neutral-50);
    text-decoration: none;

    &:hover {
      color: var(--neutral-20);
    }

    &:active {
      color: var(--neutral-10);
    }

    &__span {
      padding-right: 12px;
    }
  }

  &__burger {
    display: none;
    width: 26px;
    height: 26px;
    position: relative;
    overflow: hidden;

    &--active &__span {
      &:nth-of-type(1) {
        display: none;
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }

    &__span {
      width: 30px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--neutral);
      transition: all 0.5s;

      &:nth-of-type(2) {
        top: calc(50% - 9px);
      }

      &:nth-of-type(3) {
        top: calc(50% + 9px);
      }
    }
  }

  &__logo {
    display: none;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    padding: 0;
    color: var(--neutral);
  }

  &__login-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: var(--radius-btn);
    background: var(--primary-main);
    color: var(--neutral);
    border: none;

    &:hover {
      background: var(--primary-hover);
    }

    &:active {
      background: var(--primary-active);
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    background: var(--neutral-100);
    padding: 0 60px;

    &__back {
      display: none;
    }

    &__logo {
      display: flex;
      justify-content: center;
      text-decoration: none;

      &__img {
        width: 50px;
        height: 50px;
        color: var(--neutral);
      }
    }

    &__burger {
      display: inline-block;
    }

    &__title {
      display: none;
    }
  }

}
