<main-page title="Home">
  <section class="video">
    <div class="video__player">
      <iframe
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video__frame"
        frameborder="0"
        src="https://www.youtube.com/embed/eSZFIXbqmhs"
        title="IZANAGI 【 イザナギ 】 ☯ Japanese Trap & Bass Type Beat ☯ Trapanese Hip Hop Mix"
      ></iframe>
      <div class="video__info">
        <a
          class="video__info__left"
          href="#"
          title="IZANAGI 【 イザナギ 】 ☯ Japanese Trap & Bass Type Beat ☯ Trapanese Hip Hop Mix"
        >IZANAGI 【 イザナギ 】 ☯ Japanese Trap & Bass Type...</a
        >
        <div class="video__info__right">
          <span class="video__info__right__views">
            <svg class="video__info__right__views__icon">
              <use xlink:href="./assets/images/icons/eye.svg#eye"></use>
            </svg>
            223</span>
          <custom-btn iconName="shuffle">Randomize</custom-btn>
        </div>
      </div>
    </div>
    <div class="video__history">
      <div class="video__history__head">
        <span class="video__history__head__title">Last seen</span>
        <button class="video__history__btn">Clear</button>
      </div>
      <div class="video__history__container">
        <p class="video__history__item">
          IZANAGI 【 イザナギ 】 ☯ Japanese Trap & Bass Type Beat ☯ Trapanese
          Hip Hop Mix
        </p>
        <p class="video__history__item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam,
          veniam!
        </p>
        <p class="video__history__item">
          Aliquid aperiam harum labore officia ratione sint velit voluptatum?
        </p>
        <p class="video__history__item">
          Deserunt molestias mollitia, quibusdam quod quos voluptate
        </p>
        <p class="video__history__item">Cum dolores eveniet odit vero.</p>
        <p class="video__history__item">
          Quia quis quisquam quo reprehenderit soluta temporibus, ullam veniam.
        </p>
        <p class="video__history__item">
          Quia quis quisquam quo reprehenderit soluta ...
        </p>
      </div>
      <a class="video__history__more" href="#">More</a>
    </div>
  </section>
  <section class="games">
    <h2 class="title">Games</h2>
    <div class="games__cards__wrapper">
      <a class="games__card" href="#">
        <img
          alt="sudoku"
          class="games__card__img"
          src="../../../assets/images/games/sudoku.jpg"
        />
        <h3 class="games__card__title">Sudoku</h3>
      </a>
      <a class="games__card" href="#">
        <img
          alt="sudoku"
          class="games__card__img"
          src="../../../assets/images/games/sudoku.jpg"
        />
        <h3 class="games__card__title">Sudoku</h3>
      </a>
      <a class="games__card" href="#">
        <img
          alt="sudoku"
          class="games__card__img"
          src="../../../assets/images/games/sudoku.jpg"
        />
        <h3 class="games__card__title">Sudoku</h3>
      </a>
      <a class="games__card" href="#">
        <img
          alt="sudoku"
          class="games__card__img"
          src="../../../assets/images/games/sudoku.jpg"
        />
        <h3 class="games__card__title">Sudoku</h3>
      </a>
    </div>
  </section>
  <section class="about">
    <p class="about__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
      architecto at commodi consectetur dicta distinctio enim expedita, facere
      harum id ipsam laboriosam libero maxime mollitia nesciunt odit provident
      quis quo tempore veritatis vero vitae voluptate voluptates. Beatae maxime
      perspiciatis ut! Alias animi blanditiis consectetur corporis distinctio
      dolorem eius est facere fuga hic in, labore libero maiores maxime minima
      mollitia nostrum obcaecati officiis optio possimus quam qui quia quisquam
      repellendus tempore ut vel veritatis? Eius error facere magnam provident
      quos suscipit. Alias dolor incidunt maxime obcaecati officiis placeat quae
      quidem tenetur? Adipisci commodi doloremque nobis non omnis rerum tenetur
      voluptas? Dicta doloremque ea enim necessitatibus nulla odio praesentium
      vitae voluptas. Accusamus accusantium atque commodi consequatur debitis
      dicta dolores doloribus hic modi necessitatibus nulla optio possimus quod
      rem, repudiandae suscipit veritatis? Autem cupiditate, debitis dolor ea
      enim error impedit itaque quibusdam? Aspernatur deserunt iusto laborum nam
      possimus quibusdam voluptatum! Beatae dicta dolorum fugit harum ipsa
      ipsam, ipsum iste, nemo nihil odio pariatur porro possimus quod quos
      reprehenderit repudiandae sed soluta velit. Ad, asperiores exercitationem!
      Autem consectetur cumque esse laborum magni mollitia nihil perspiciatis,
      sit. Adipisci cumque dolor eaque earum, error esse eum ex excepturi
      exercitationem fuga fugiat, omnis quia rem rerum sapiente sunt tenetur
      veniam! A alias assumenda at atque dignissimos earum eum eveniet hic in
      inventore ipsam nisi, possimus repellat sit tenetur. Animi consectetur
      cupiditate dignissimos, dolorem doloremque dolores eius illo in incidunt
      ipsa maiores nemo nisi nulla obcaecati odio quaerat qui quibusdam quis rem
      repellat sequi sint sit vitae! Commodi corporis distinctio eaque eius,
      esse ex iure labore, laborum molestias nam odit officia perferendis
      possimus quae quaerat quam sed similique soluta, vero voluptas! Accusamus
      ad aliquam animi aperiam architecto aspernatur beatae dolorem, eius
      excepturi expedita facere impedit inventore ipsam iste labore modi
      molestias nam necessitatibus nihil nobis nulla obcaecati odio pariatur
      praesentium provident quam quasi qui quo ratione sint sit tempora tempore
      temporibus ullam veritatis vero voluptatum. Minima mollitia perspiciatis
      totam. Ab assumenda culpa deleniti eaque eveniet ex, exercitationem
      facilis illo magnam quia saepe velit voluptatem. Qui quibusdam quis rem.
      Asperiores consectetur in minus perferendis porro possimus quae tempora.
      Asperiores aspernatur autem consectetur consequuntur corporis eos et, eum
      eveniet expedita fuga hic illum iure iusto laborum magnam maxime molestiae
      mollitia natus necessitatibus nesciunt non odio quam quo sed sunt tenetur
      totam ullam ut veniam voluptatibus? Ab accusamus aliquid animi ea
      exercitationem facere fugit hic laborum natus, nihil numquam quasi
      suscipit velit. Accusantium deleniti deserunt dignissimos ducimus earum
      itaque non recusandae soluta? Alias, architecto assumenda at delectus
      deserunt dignissimos dolorem dolores dolorum expedita impedit inventore
      ipsa laboriosam.
    </p>
  </section>
</main-page>
