:root {
  --neutral-100: #15191C;
  --neutral-100-opacity-50: rgba(21, 25, 28, 0.5);
  --neutral-90: #1D232A;
  --neutral-80: #2C343A;
  --neutral-50: #95999C;
  --neutral-20: #D4D4D4;
  --neutral-10: #E7E7E7;
  --neutral-05: #F3F3F3;
  --neutral: #ffffff;
  --primary-main: #0480DC;
  --primary-hover: #0063AC;
  --primary-active: #004B83;
  --semantic-green: #1AB060;
  --semantic-red: #F83636;
  --radius-btn: 8px;
  --radius-block: 16px;
}
